.select2-container
{
	width: 100% !important;
}

span.select2-selection.select2-selection--single,
span.select2-selection__rendered
{
	// These are base materializecss input styles
	padding-left:0 !important;
	position: relative;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
	font-size: 16px;
	margin: 0 0 0 0;
	padding: 0;
	display: block;
	z-index: 1;
	border-radius: 4;
	color: black;
}