.select2-container
{
	width: 100% !important;
}

span.select2-selection.select2-selection--single
{
	// These are base materializecss input styles
	padding-left:0 !important;
	position: relative;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0;
	display: block;
	z-index: 1;
	border-radius: 4;
}

span.select2-selection__rendered
{
	margin: 7px 0 0 9px;
	color: black;
	font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder
{
	color: black;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
{
	color: black;
}

.container-image
{
	height: 200px;
	width: 200px;
	position: relative;
	display: inline-block;
}

.image-c
{
	position: absolute;
	left: 0;
	top: 0;
}

.container-text
{
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 24px;
	font-weight: bold;
	left: 80px;
	top: 125px;
}