<h3>Troop Tracker - Overview Video (After Account Setup)</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/vFP6posJt70" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>Troop Tracker - How To Video</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/j0Z5SB6TVOg" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>Troop Tracker - For Command Staff</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/ycwFdQQvGoc" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to add an iOS shortcut</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/_UhtyHbL8uY" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to add an Android shortcut</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/S4Xu_N4ByBs" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to upload photos</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/aODHyWMMVUQ" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to view milestones and awards</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/W-wcceu6xzI" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to add a friend to a troop</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/C0WCxIRZafQ" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to add someone to a troop without them being a member or having tracker access</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/mDeJaANqLIk" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to search for troops and troop counts</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/-pXqGZLiVpM" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to view past troops</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/17UPK4AoKxg" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to sort by squad</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/H-nnM5jndZA" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to show troops your signed up for</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/Rn3EnhudHyc" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to use calendar view</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/02ERoFw7XlY" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to search troops on the homepage</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/y_I8ssRjek8" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to subscribe to events</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/5pp7_FKg7cI" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to add an event to your calendar</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/cefnojYUy-Y" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to add discussion to a troop</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/tS-bCXbCzs4" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to change the theme</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/IPykBoeDGcg" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>How to search costumes</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/YLjiVGgqe-Y" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>Command Staff - Create an Event</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/MFdLu9aWwlI" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>Command Staff - Edit an Event</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/WADjtDcmeJo" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>Command Staff - Edit Roster</h3>
<p>
	<iframe width="100%" height="315" src="https://www.youtube.com/embed/c8IT_s0qSxc" title="YouTube video player"
		frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</p>

<h3>Troop Tracker Manual</h3>
<p>
	<a href="https://github.com/MattDrennan/501-troop-tracker/blob/master/manual/troop_tracker_manual.pdf"
		target="_blank">Click here to view PDF manual.</a>
</p>

<h3>I cannot login / I forgot my password</h3>
<p>
	The Troop Tracker has been integrated with the boards. You must use your '.garrison.' boards username and password
	to login to Troop Tracker. To recover your password, use password recovery on the '.garrison.' forum. If you
	continue to have issues logging into your account, your '.garrison.' forum username, may not match the Troop Tracker
	records. Contact the '.garrison.' Webmaster or post a help thread on the forums to get this corrected.
</p>

<h3>I am missing troop data / My troop data is incorrect</h3>
<p>
	Please refer to your squad leader to get this corrected.
</p>

<h3>I am now a member of another club and need access to their costumes.</h3>
<p>
	Please refer to your squad / club leader to get added to the roster.
</p>

<h3>My costumes are not showing on my profile / I am missing a costume on my profile</h3>
<p>
	The troop tracker automatically scrapes several different club databases for your costume data. If your costume data
	is not showing, make sure your ID numbers and forum username\'s are accurate. If the aforementioned information is
	correct, than refer to your squad / club leadership, as this data is missing on their end.
</p>

<h3>How do I know I confirmed a troop?</h3>
<p>
	The troop will be listed on your troop tracker profile, or under your stats on the troop tracker page. When you
	confirm a troop, your status will change from "Going" to "Attended".
</p>

<h3>I need a costume added to the troop tracker.</h3>
<p>
	Please notify your squad leader, or e-mail the Garrison Web Master directly. See below for e-mail.
</p>

<h3>I need information on joining the 501st Legion.</h3>
<p>
	<a href="https://databank.501st.com/databank/Join_Us" target="_blank">Click here to learn how to join.</a>
</p>

<h3>Contact Garrison Web Master</h3>
<p>
	If you have read and reviewed all the material above and are still experiencing issues, or have noticed a bug on the
	website, please <a href="mailto: '.$webmasterEmail.'">send an e-mail here</a>.
</p>