<section class="tm-section tm-section-small">
    <p class="tm-mb-0">
        Website created by
        <a href="https://mattdrennan.com">Matthew Drennan (TK52233)</a>.
        If you encounter
        any technical issues with this site, please refer to the
        <a href="{{ url_for('faq') }}">FAQ page</a>
        for guidance.
    </p>

    <p class="tm-mb-0">
        If you are missing troops or notice incorrect data, please refer to your squad leader.
    </p>

    <p class="footer-icons">
        <a href="https://github.com/MattDrennan/501-troop-tracker"
           target="_blank">
            <img src="images/github.png"
                 alt="GitHub"
                 title="Help contribute to the Troop Tracker project!" />
        </a>
    </p>
</section>