<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge" />
    <!-- Title -->
    <title>501st Florida Garrison - Troop Tracker</title>

    {% include 'partials/styles.html' %}

    <!-- Setup Variable -->
    <script>
        var forumURL = "https://www.fl501st.com/boards/";
        var placeholder = 1196;
        var squadIDList = [0, 1, 2, 3, 4, 5];
        var clubArray = ["pRebel", "pDroid", "pMando", "pOther", "pSG", "pDE"];
        var clubDBLimitArray = ["limitRebels", "limitDroid", "limitMando", "limitOther", "limitSG", "limitDE"];
        var clubDB3Array = ["rebelforum", "mandoid", "sgid", "de_id"];
        // Clear limits
        function clearLimit() {
            $("#limitRebels").val(500);
            $("#limitDroid").val(500);
            $("#limitMando").val(500);
            $("#limitOther").val(500);
            $("#limitSG").val(500);
            $("#limitDE").val(500);
        }
    </script>

    {% include 'partials/scripts.html' %}

    <script>
        $(function () {
            $("#datepicker").datetimepicker();
            $("#datepicker2").datetimepicker();
            $("#datepicker3").datetimepicker();
            $("#datepicker4").datetimepicker();
        });
    </script>
</head>

<body class="floridadark">

    <div class="tm-container">
        <div class="tm-text-white tm-page-header-container">
            <img src="images/logo.png" />
        </div>
        <div class="tm-main-content">
            <section class="tm-section">

                <div class="topnav"
                     id="myTopnav">
                    <a href="index.php"
                       class="active">Home</a>
                    <a href="https://www.fl501st.com/boards/">Forums</a>
                    <a href="index.php?action=requestaccess">Request Access</a>
                    <a href="index.php?action=setup">Account Setup</a>
                    <a href="index.php?action=faq">FAQ</a>
                    <a href="index.php?action=login">Login</a>
                    <a href="javascript:void(0);"
                       class="icon"
                       onclick="myFunction()"><i class="fa fa-bars"></i></a>
                </div>

                <div class="dashboard-row"></div>
                <h2 class="tm-section-header">Welcome to the Florida Garrison Troop Tracker!</h2>
                <p style="text-align: center; border: dashed white;">
                    <a href="index.php?action=requestaccess">Are you new to the Florida Garrison and/or 501st? Or are
                        you solely a member of another club? Click here.</a>
                </p>

                <p style="text-align: center; border: dashed white;">
                    <a href="index.php?action=setup">Have you used the old troop tracker and need to set up your
                        account? Click here.</a>
                </p>
                <h2 class="tm-section-header">Recent Photos</h2>
                <a href="images/uploads/2025-10-13-14-51-09-IMG_2460.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11253'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-13-14-51-09-IMG_2460.jpg"
                         width="200px"
                         height="200px" /></a>
                <a href="images/uploads/2025-10-13-14-51-06-IMG_2457.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11253'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-13-14-51-06-IMG_2457.jpg"
                         width="200px"
                         height="200px" /></a>
                <a href="images/uploads/2025-10-13-14-51-05-IMG_2458.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11253'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-13-14-51-05-IMG_2458.jpg"
                         width="200px"
                         height="200px" /></a>
                <a href="images/uploads/2025-10-13-14-51-02-IMG_2476.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11253'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-13-14-51-02-IMG_2476.jpg"
                         width="200px"
                         height="200px" /></a>
                <a href="images/uploads/2025-10-13-14-51-01-IMG_2463.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11253'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-13-14-51-01-IMG_2463.jpg"
                         width="200px"
                         height="200px" /></a>
                <a href="images/uploads/2025-10-12-06-46-54-IMG_2422.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11252'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-12-06-46-54-IMG_2422.jpg"
                         width="200px"
                         height="200px" /></a>
                <a href="images/uploads/2025-10-12-06-46-54-IMG_2380.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11252'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-12-06-46-54-IMG_2380.jpg"
                         width="200px"
                         height="200px" /></a>
                <a href="images/uploads/2025-10-12-06-45-26-IMG_2374.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11251'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-12-06-45-26-IMG_2374.jpg"
                         width="200px"
                         height="200px" /></a>
                <a href="images/uploads/2025-10-12-06-45-22-IMG_2420.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11251'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-12-06-45-22-IMG_2420.jpg"
                         width="200px"
                         height="200px" /></a>
                <a href="images/uploads/2025-10-12-06-45-19-IMG_2387.jpeg"
                   data-lightbox="photo"
                   data-title="Uploaded by  on <a href='index.php?event=11251'>10/11 & 10/12/2025 - Boo at the Zoo - MELBOURNE</a>."><img
                         src="images/uploads/resize/2025-10-12-06-45-19-IMG_2387.jpg"
                         width="200px"
                         height="200px" /></a>
                <p style="text-align: center;">
                    <i>Press photos for full resolution version.</i>
                    <br />
                    <a href="index.php?action=photos"
                       class="button">Recent events with photos</a>
                </p>
            </section>

            {% include 'partials/footer.html.twig' %}

            <script>
                $(document).ready(function () {
                    // Add rules to clubs - IDs
                    $('#rebelforum').each(function () {
                        $(this).rules('add',
                            {
                                digits: false,
                                required: function () {
                                    return $('#squad').val() == 6;
                                }
                            })
                    });
                    // Add rules to clubs - IDs
                    $('#mandoid').each(function () {
                        $(this).rules('add',
                            {
                                digits: true,
                                required: function () {
                                    return $('#squad').val() == 8;
                                }
                            })
                    });
                    // Add rules to clubs - IDs
                    $('#sgid').each(function () {
                        $(this).rules('add',
                            {
                                digits: true,
                                required: false
                            })
                    });
                    // Add rules to clubs - IDs
                    $('#de_id').each(function () {
                        $(this).rules('add',
                            {
                                digits: true,
                                required: false
                            })
                    });
                });
            </script>
            <!-- External JS File -->
            <script type="text/javascript"
                    src="script/js/main.js?v=9"></script>
</body>

</html>